#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 20rem;
  text-align: center;
}
body {
  font-family: "Young Serif", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d5e8d4; /*body background */
}

/*sm screen size*/
.card {
  text-align: left;
  padding: 2rem;
  padding-right: 3.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white; /*card background */
}
.card h1 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: 20px;
}
.card p {
  margin-bottom: 10px;
}
.astrix {
  color: green; /*astrix color */
}

.input-group {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}
#name-group {
  display: block;
  gap: 3em;
  margin-bottom: 10px;
  width: 100%;
}

.radio-queryType {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
  gap: 1em;
}
#radio-group {
  gap: 2em;
  margin: 0%;
}

.input-group textarea {
  height: 200px;
  width: 100%;
}

.input-group input:hover,
.input-group textarea:hover {
  cursor: pointer;
  border-color: green;
}

.input-group input,
.input-group label,
.input-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color-scheme: light;
  accent-color: green; /*radio input selected color */
  width: 100%;
}

.input-group.error input,
.input-field.error input,
.input-group.error textarea {
  border-color: red;
}

form .error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.consent-group.error .error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.consent-group {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}

.consent-group input {
  margin-right: 10px;
  color-scheme: light;
  accent-color: green; /*checkbox color */
}

.submit-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #4caf50; /*button color */
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.submit-btn:hover {
  background-color: #45a049;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*radio backroud color */

.radio-group {
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  border: green solid;
  width: 100%;
}

.radio-queryType:hover {
  background: greenyellow;
  border-color: green;
  cursor: pointer;
}

/*md screen size*/

@media screen and (min-width: 475px) {
  #root {
    padding: 2rem;
  }
  body {
    background-color: lightblue;
  }
  .card {
    padding-right: 2rem;
  }

  .input-group {
    display: flex;
  }
  #name-group {
    display: flex;
    width: 96%;
  }
  .input-group textarea {
    height: 60px;
    width: 100%;
  }
}
/*lg screen size*/

@media screen and (min-width: 800px) {
  body {
    background-color: hsl(30, 54%, 90%);
  }
}
